# Adapted from ember-data https://github.com/emberjs/data/blob/master/.github/workflows/perf-check.yml
name: Performance Checks

on:
  pull_request:
    branches:
      - '*'

jobs:
  performance-checks:
    name: 'Performance Checks'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check SHA
        run: |
          # Github actions have had a race condition where sometimes they don't check out the correct sha
          # Here we log our starting state in case we run into that again
          sha=$(git rev-parse --short=8 HEAD)
          echo "HEAD sha=$sha"
          echo "HEAD sha=$GITHUB_SHA"
          echo "GITHUB_SHA sha=$GITHUB_SHA"
          mkdir -p tmp
          echo $sha > tmp/sha-for-check.txt
          originSha=$(git rev-parse HEAD^2)
          echo $originSha > tmp/sha-for-commit.txt
          git show --format=short --no-patch $originSha
      - uses: tracerbench/tracerbench-compare-action@master
        with:
          experiment-build-command: cd m3-perf-testing-app && rm -rf node_modules && yarn && ./node_modules/ember-cli/bin/ember build -e production --output-path dist-experiment
          experiment-serve-command:  cd m3-perf-testing-app &&  ./node_modules/ember-cli/bin/ember s --path dist-experiment --port 4201
          control-build-command:  cd m3-perf-testing-app && rm -rf node_modules &&  yarn &&  ./node_modules/ember-cli/bin/ember  build -e production --output-path dist-control
          control-serve-command:  cd m3-perf-testing-app &&  ./node_modules/ember-cli/bin/ember s --path dist-control
          scenarios: |
            {
              "materializing": {
                "control": "http://localhost:4200/materializing/12000",
                "experiment": "http://localhost:4201/materializing/12000",
                "markers": "start-loading,pushed-payload,end-loading"
              },
              "rendering": {
                "control": "http://localhost:4200/rendering",
                "experiment": "http://localhost:4201/rendering",
                "markers": "start-loading,pushed-payload,end-loading"
              }
            }
          fidelity: 60
          upload-traces: true
          upload-results: true
      - name: Report TracerBench Results
        if: failure() || success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMENT_MARKER="Performance Report for "
          sha=$(cat tmp/sha-for-commit.txt)
          node ./scripts/create-comment.js $sha > tracerbench-results/comment.txt
          COMMENT_TEXT="@./tracerbench-results/comment.txt"
          source scripts/post-comment.sh
